body {
  margin: 0;
  background-color: #000000ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* جلوگیری از اسکرول اضافه */
}

.gallery-container {
  position: relative;
  width: 100vw;
  max-width: 1200px;
  aspect-ratio: 16/9;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
}

.frame {
  background: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.347);
}

.right-wall {
  width: 35%;
  height: 25%;
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 2%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  transform: perspective(500px) rotateY(30deg);
}

/* دیواری که در سمت راست تصویر است (کلاس left-wall شما) */
.left-wall {
  width: 35%;
  height: 25%;

  z-index: 2;
  position: absolute;
  top: 35%;
  left: 62%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  transform: perspective(500px) rotateY(-30deg);
}

/* دیوار روبرو/وسط */
.mid-wall {
  height: 20%;
  width: 20%;
  z-index: 1;
  position: absolute;
  top: 42%;
  left: 38%;
  display: flex;
}
.frame-4 {
  width: 80%;
  height: 80%;
}
.frame-2 {
  width: 80%;
  height: 80%;
}
.frame-3 {
  width: 70%;
  height: 70%;
}

.left-wall .frame {
  border: 1px solid rgba(0, 0, 0);
  border-right: 4px solid black;
  border-bottom: 3px solid black;
  border-top: 2px solid rgba(0, 0, 0, 0.9);
  box-shadow: 1px 4px 7px 0px rgba(0, 0, 0, 0.651);
  border-radius: 2px;
}
.right-wall .frame {
  border: 1px solid black;
  border-left: 4px solid black;
  border-bottom: 3px solid black;
  border-top: 2px solid rgba(0, 0, 0, 0.9);
  box-shadow: -1px 4px 7px 0px rgba(0, 0, 0, 0.651);
  border-radius: 2px;
}
.mid-wall .frame {
  border: 1px solid black;
  border-top: 2px solid rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.651);
  border-radius: 2px;
}
