body {
  margin: 0;
  background-color: #000000ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* جلوگیری از اسکرول اضافه */
}

.gallery-container {
  position: relative;
  width: 100vw;
  max-width: 1200px;
  aspect-ratio: 16/9;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
}

.frame {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-wall {
  width: 35%;
  height: 25%;
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 0%;
  display: flex;
  gap: 8px;
  padding: 8px;
  transform: perspective(500px) rotateY(30deg);
}

/* دیواری که در سمت راست تصویر است (کلاس left-wall شما) */
.left-wall {
  width: 35%;
  height: 25%;

  z-index: 2;
  position: absolute;
  top: 35%;
  left: 62%;
  display: flex;
  gap: 8px;
  padding: 8px;
  transform: perspective(500px) rotateY(-30deg);
}

/* دیوار روبرو/وسط */
.mid-wall {
  height: 22%;
  width: 20%;
  z-index: 1;
  position: absolute;
  top: 38%;
  left: 40%;
  display: flex;
}
