body {
  margin: 0;
  background-color: #000000ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* جلوگیری از اسکرول اضافه */
}

.gallery-container {
  position: relative;
  width: 100vw;
  max-width: 1200px;
  aspect-ratio: 16/9;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
}

.frame {
  background: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.347);
}

.right-wall {
  width: 35%;
  height: 25%;
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 5%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px;
  transform: perspective(400px) rotateY(50deg);
}

/* دیواری که در سمت راست تصویر است (کلاس left-wall شما) */
.left-wall {
  width: 35%;
  height: 25%;
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 58%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px;
  transform: perspective(400px) rotateY(-50deg);
  -webkit-transform: perspective(400px) rotateY(-50deg);
  -moz-transform: perspective(400px) rotateY(-50deg);
  -ms-transform: perspective(400px) rotateY(-50deg);
  -o-transform: perspective(400px) rotateY(-50deg);
}

/* دیوار روبرو/وسط */
.mid-wall {
  height: 20%;
  width: 20%;
  z-index: 1;
  position: absolute;
  top: 41%;
  left: 37%;
  display: flex;
}

.frame-3 {
  width: 70%;
  height: 75%;
}

.left-wall .frame {
  border: 1px solid black;
  border-right: 3px solid black;
  border-top: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: 1px 4px 7px 0px rgba(0, 0, 0, 0.651);
  border-radius: 2px;
}
.right-wall .frame {
  border: 1px solid rgba(0, 0, 0);
  border-left: 3px solid black;
  border-top: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: -1px 4px 7px 0px rgba(0, 0, 0, 0.651);
  border-radius: 2px;
}
.mid-wall .frame {
  border: 1px solid black;
  border-top: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.651);
  border-radius: 2px;
}
